.company-list-container {
    padding: 20px;
  }
  
  .companies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
  
  .company-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  
  .company-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
  }

  .company-btn:hover {
    background-color: #0077b6;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-btn {
    background-color: #007BFF;

    padding: 8px 16px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .profile-btn:hover {
    background-color: #007BFF;
    background-color: #0077b6;    

  }
  
  