/* CompanyRating.css */
.company-rating {
  display: flex;
  align-items: center;
}

.fas.fa-star,
.fas.fa-star-half-alt {
  color: #FFD700; /* Star and half-star color */
  font-size: 24px; /* Star and half-star size */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}
