.company-detail-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc; /* Slightly lighter gray border */
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

h2, h3 {
  color: #007D81; /* Teal header text color */
}

.review {
  border: 1px solid #ccc; /* Slightly lighter gray border */
  padding: 10px;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.add-review-section {
  margin-top: 25px;
}

button {
  background-color: #007D81; /* Teal button background */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005457; /* Darker teal on hover */
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Slightly lighter gray border */
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

select {
  padding: 5px 10px;
  border: 1px solid #ccc; /* Slightly lighter gray border */
  border-radius: 5px;
  margin-right: 10px;
}

@media screen and (min-width: 80rem) {
  .company-detail-container {
      max-width: 800px; /* Limit the maximum width on larger screens */
      margin: 0 auto;
      padding: 20px;
  }
}
